/* шрифты */
@font-face {
    font-family: Unbounded;
    src: url(/media/fonts/Unbounded/Unbounded-VariableFont_wght.ttf);
}

body {
    font-family: Unbounded, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vh;
    margin: 0;
    padding: 0;
}

.wrapper_container {
    max-width: 1440px;
    margin: 0 auto;
}

header .wrapper_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger_button {
    display: none;
}

/* шапка */

button {
    font-family: Unbounded, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
    min-height: 80px;
    padding: 15px 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

header ul li {
    list-style-type: none;
    display: block;
}


header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* эффекты при наведении */

header a:hover {
    transition: 0.5s;
    color: #00A0C9;
    cursor: pointer;
}

header a:not(:hover) {
    transition: 0.5s;
}

/* позиционирование меню */

.leftmenu {
    cursor: pointer;
}

/* кнопка "заказать звонок" в шапке */

header button {
    padding: 15px 70px;
    color: white;
    border: 1px white;
    border-radius: 50px;
    font-size: 18px;
    transition: .5s ease;
    background-color: #00A0C9;
}

/* эффекты при наведении на кнопку */

header form {
    border-radius: 3vh;
}

header button:hover {
    transition: .5s;
    background-color: rgb(255, 255, 255);
    color: #00A0C9;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #00A0C9;
}

.header button:not(:hover) {
    transition: 0.5s;
}
/* главная страница */

.main {
    background: url(../media/background1.png) no-repeat center center;
    width: 100%;
    height: 100%;
    padding-bottom: 10%; 
    background-size: cover;
    overflow: hidden;
    
}

/* логотип */

.heading {
    text-align: center;
}

.centerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 25%;
}
@media (max-width: 1000px) {
    .centerlogo {
        margin-top: 13%;
    }
}
@media (max-width: 730px) {
    .centerlogo {
        margin-top: 15%;
        width: 40%;
    }
}
@media (max-width: 560px) {
    .centerlogo {
        margin-top: 20%;
    }
}
@media (max-width: 431px) {
    .centerlogo {
        margin-top: 30%;
        width: 50%;
    }
}
/* "сильные стороны" на главном экране */

.headingstrengths {
    display: flex;
    justify-content: center;
    padding: 5vh;
    color: white;
}

.textstrengths {
    text-align: center;
}

.bottomstrengths {
    margin-inline: 5%;
}

.imgstrengths {
    padding-inline: 30%;
}

.leftimgstrengths {
    padding-left: 40%;
}

.headingstrengths{
    margin-top: 3%;
    margin-right: 3%;
}

.mainbuttonblock {
    display: flex;
    justify-content: center;
}


/* кнопка "оставить заявку" на главном экране */

.mainbutton {
    margin-top: 3%;
    width: 30vw;
    height: 7vh;
    background-color: #00A0C9;
    color: white;
    border-radius: 30vh;
    border: none;
    font-size: 2vh;
}

/* эффекты при наведении на кнопку */

.mainbuttonblock button:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: #00A0C9;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #00A0C9;
}

.mainbuttonblock button:not(:hover) {
    transition: 0.5s;
}

.rightmenu button {
    color: white;
}

/* блок "почему выбирают нас?"  */

.reasons {
    justify-content: center;
    display: flex;
}

#right {
    margin-left: 5vw;
}

#left{
    margin-right: 5vw;
}

.heading{
    color: #000;
    font-size: 7.5vh;
    text-align: left;
    padding-bottom: 2.3vh;
}
.headingreasons {
    color: #00A0C9;
    font-size: 7.5vh;
}
.reason {
    margin-top: 7vh;
    padding-top: 4vh;
    
}

#borders {
    width: 60vh;
    height: 30vh;
    padding-bottom: 4vh;
    padding-inline: 4vh;
    border-radius: 30px; 
    border: 5px solid transparent;
    border-image: linear-gradient(to left top,#00A0C9 10%,  transparent 30%, transparent 70%, #00A0C9 90%);
    border-image-slice: 1;
    
}

.reasonsheading span {
    color: #00A0C9;
}

.reasons hr {
    width: 10vw;
    border: 0.3vh solid #00A0C9;
}

.reason span{
    font-size: 4vh;
}

.reason hr{
    margin-bottom: 5vh;
}

.linereasons {
    margin-top: 5vh;
}
@media (max-width:1440px) {
    .heading{
        font-size: 5vh;
    }
    .headingreasons {
        font-size: 5vh;
    }
    #borders {
        width: 50vh;
        height: 30vh;   
    }
    .reason span  {
        font-size: 3vh;
    }
}
@media (max-width:560px) {
   
    #borders {
        width: 40vh;
        height: 35vh;   
    }
    .reason span  {
        font-size: 2vh;
    }
}
/* подвал */


/* кнопка в подвале */

.footerbutton {
    margin-top: 3%;
    width: 30vw;
    height: 7vh;
    background-color: #00A0C9;
    color: white;
    border-radius: 30vh;
    border: none;
    font-size: 2vh;
}

/* эффекты при наведении на кнопку */

.footerbuttonblock {
    text-align: center;
}

.footerbuttonblock button:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: #00A0C9;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #00A0C9;
}

.footerbuttonblock button:not(:hover) {
    transition: 0.5s;
}

/* блок "преимущества" */

/* заголовок */
.advantagies {
    background: url(../media/background3.png) no-repeat center center;
    width: 100%;
    height: 130%; 
    background-size: cover;
    overflow: hidden;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 50), inset 0 0 25px rgba(255, 255, 255, 50), inset 0 0 25px rgb(255, 255, 255), inset 0 0 25px rgb(255, 255, 255);
}
.advantagies h1 {
    margin: 5vh;
    padding-top: 5vh;
    color: #000;
    font-size: 5vh;
    font-size: 5vh;
    text-align: center;
    padding-bottom: 10vh;
}

.advantagies span {
    color: #00A0C9;
}

/* позиционирование блоков */

.firstline{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
}

.secondline {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5vh;
}

.advblock img {
    width: 15vh;
}

.advblock {
    padding-inline: 10vh;
}

.benefits {
    justify-content: center;
    display: flex;
}
@media (max-width: 720px) {
    .firstline, .secondline {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .advblock {
        padding-top: 3vh;
    }
}

/* тень заголовка */

.benefitsheading h1{
    margin: 5vh;
    padding-top: 5vh;
    color: #000;
    font-size: 5vh;
    font-size: 5vh;
    text-align: center;
    padding-bottom: 10vh;
}

.benefitcenter img {
    box-shadow: 0px 0px 20px 20px rgb(0, 160, 201, 0.5);
    width: 60vh;
    margin-inline: 5vw;
    border-radius: 3vh;
}

.benefitleft img, .benefitright img{
    margin-top: 4.5vh;
    width: 45vh;
    border-radius: 3vh;
}
@media (max-width: 1800px) {
    .benefitcenter img {
        width: 50vh;
    }
    .benefitleft img, .benefitright img {
        width: 30vh;
        border-radius: 2vh;
    }
}
@media (max-width: 1334px) {
    .benefitcenter img {
        width: 40vh;
    }
    .benefitleft img, .benefitright img {
    border-radius: 1vh;
    width: 20vh;
    }
}
@media (max-width: 970px) {
    .benefits, .headingstrengths {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .bottomstrengths {
        margin-bottom: 3vh;
    }
    .benefitcenter img {
        margin-top: 5vh;
    }
    .benefitleft img, .benefitright img {
    border-radius: 2vh;
    width: 40vh;
    }
    .benefitsbuttonblock button, .mainbutton{
        width: 90%;
    }
}

/* эффекты при наведении на кнопку */

.benefitsbutton {
    margin-top: 3%;
    width: 30vw;
    height: 7vh;
    background-color: #00A0C9;
    color: white;
    border-radius: 30vh;
    border: none;
    font-size: 2vh;
}


.benefitsbuttonblock {
    text-align: center;
    margin: 5vh;
    margin-bottom: 10vh;
}

.benefitsbuttonblock button:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: #00A0C9;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #00A0C9;
}

.benefitsbuttonblock button:not(:hover) {
    transition: 0.5s;
}

/* логотип */

.about img {
    width: 100%;
}
.biglogoimg {
    padding-top: 15vh;
    padding-bottom: 5vh;
}
.biglogo {
    margin-inline: 12%;
}
.representative img {
    padding-top: 15vh;
}
/* текст о компании  */

.maintext {
    margin-inline: 12%;
    padding-bottom: 3vh;
}
.abouttext {
    line-height: 3vh;
    margin-left: 12%;
    margin-right: 12%;
}

/* с нами вы получите */

.receive {
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: 9%;
    color: white;
    font-size: 3vh;
}
.receive li {
    padding: 1vh;
}
.receive h1{
    padding-top: 5vh;
    color: #000;
    font-size: 5vh;
    
}
.firstlinereveive{
    width: 150vh;
}
.secondlinereveive {
    width: 130vh;
}

.thirdlinereveive {
    width: 110vh;
}

.fourthlinereveive {
    width: 90vh;
}

@media (max-width: 2060px) {
    .firstlinereveive{
        width: 90%;
    }
    .secondlinereveive {
        width: 85%;
    }
    
    .thirdlinereveive {
        width: 80%;
    }
    
    .fourthlinereveive {
        width: 75%;
    }
}

@media (max-width: 1000px) {
    .receive {
        font-size: 2vh;
    }
}

.receive li{
padding-left: 30px;}

.firstlinereveive, .secondlinereveive, .thirdlinereveive, .fourthlinereveive{
    padding: 1vh;
    margin-top: 5vh;
    padding-left: 10vh;
    margin-bottom: 3vh;
    background-color: #00A0C9;
    left: 0;
    list-style-type: "— ";
}

/* представители */

.representative {
    padding-top: 7vh;
    background: url(../media/background4.png) no-repeat center center;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    overflow: hidden;
    text-align: center;
    color: white;
}

.representative img{
    margin-bottom: 10vh;
    width: 40vh;
}

/* отзывы */

.reviews h1 {
    margin-left: 12%;
    padding-top: 5vh;
    color: #000;
    font-size: 5vh;
}
.reviewsimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewsline {
    display: flex;
}
.reviewsline .photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.review {
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    margin-right: 10vh;
}
.quote {
    padding-left: 50px;
    border-left: 4px solid #00A0C9;
  }
  .quote p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #333333;
  }
  .quote cite {
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #aaaaaa;
  }

.reviewsline .stars {
    width: 150px;
    height: 100px;
    margin-left: 100px;
}
.end {
    margin-top: 10vh;
    font-size: 3vh;
    margin-left: 12%;
    margin-bottom: 7vh;
}
.end a {
    color: #00A0C9;
    text-decoration: underline;
  text-decoration-color: #00A0C9;
  text-underline-offset: 10px;
}

.endspan {
    margin-top: 10vh;
}

.endp {
    margin-bottom: 10vh;
    font-size: 3vh;
    margin-left: 12%;
}
.cursor {
    width: 5vh;
    margin-left: 20vw;
}
.quote p, .quote cite {
    font-size: 2.5vh;

}
.quote {
    margin-top: 10vh;
}
/* услуги */

.services h1 {
    padding-top: 7vh;
    color: white;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center; 

}
.service h1 {
    margin-top: 10vh;

}

.service {
    display: flex; 
    align-items: center;
    justify-content: center; 
}

/* этапы работ */

.stages h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7vh;
    margin-top: 1vh;
    color: white;
    font-size: 5vh;
    padding-bottom: 5vh;
}

.contactbutton {
    display: inline-block;
    width: 24rem;
    padding-inline: 10px;
    height: 4rem;
    background-color: rgb(0, 160, 201);
    border-radius: 3rem;
    font-size: 2vh;
    color: white;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.stages {
    background-color: #00A0C9;
    color: white;
    
}
.stage {
    display: flex;
    justify-content: center;
    margin-inline: 30px;
}
.stages {
    background: url(../media/background5.png) no-repeat center center;
    width: 100%;
    height: 50vh; 
    background-size: cover;
    overflow: hidden;
    box-shadow: inset 0 0 25px rgba(0, 160, 201, 50), inset 0 0 25px rgba(0, 160, 201, 50), inset 0 0 25px rgb(0, 160, 201), inset 0 0 25px rgb(0, 160, 201);
}

.stages ul {
    list-style-type: decimal;
    padding-bottom: 5vh;
}

.stages li {
    padding-bottom: 2vh;
    text-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.35);

}
@media (max-width: 1566px) {
    .stages{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width: 1000px) {
.stages ul {
    display: flex;
    flex-direction: column;
}
}
@media (max-width: 500px) {
    .stages{
        height: 60vh; 

    }
    }
    @media (max-width: 300px) {
        .stages{
            height: 90vh; 
    
        }
}
/* контакты */
.contact {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.contact li a{
    text-decoration: underline;
  text-underline-offset: 10px;

    color: #00A0C9;
    margin-inline: 5rem;
}
.contacts {
    display: flex;
    justify-content: center;
}

.contactblock {
    background-color: #000;

}

.headingcontacts {
    text-align: center;
    padding-top: 20vh;
    color: white;
}

@media (max-width: 1566px) {
    .contact{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width: 1000px) {
.contact ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}
}
/* кнопки */

.buttonincontacts {
    display: flex;
    justify-content: center;
}
.contactbuttons {
    
    padding-bottom: 10vh;
}

/* эффекты при наведении на кнопку */


.contactbuttons button:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: #00A0C9;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #00A0C9;
}

.contactbuttons button:not(:hover) {
    transition: 0.5s;
}

/* адрес и карта */

.map h1 {
    margin-top: 10vh;
    text-align: center;
    color: #000;
    font-size: 5vh;
}
.map p {
    text-align: center;
    margin-bottom: 10vh;
}

.mapapi {
    display: flex;
    margin: auto;
    justify-content: center;
}

/* время работы */

.time h1 {
    color: #000;
    font-size: 5vh;
    margin-bottom: 3vh;
    text-align: center;
}

.time h2 {
    color: #000;
    font-size: 4vh;
    margin-bottom: 10vh;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00A0C9;
    text-underline-offset: 10px;
}

.time {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
@media (max-width: 1259px) {
    .timeblock p{
        display: flex;
        flex-direction: column;
        font-size: 3vh;
        text-align: center;

    }
    .timeblock {
    margin: 0;
    width: 80vw;
    }
}

.timeblock {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 3vh;
    width: 70%;
    font-size: 4vh;
    color: white;
    box-shadow:
    0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
    background-color: #00A0C9;
    border-radius: 3vh;
}

/* запрос на звонок */

.callbackheading {
    display: flex;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.callback input{
    box-sizing: border-box;
    display: block;
    margin-bottom: 5vh;
    font-size: 2vh;
}
@media (max-width: 700px) {
.callback input{
    font-size: 3vh;
    width: 90%;
}    
}

.callback {
    margin-inline: 15vw;
}
.checkboxinput h2, .radio h2 {
    margin-bottom: 3vh;
}

.checkboxinput input, .radio input {
    margin-bottom: 3vh;
}

/* выбор темы звонка */

.radio input{
    display: inline;
    float: none;
}

.success {
    display: flex;
    width: 100%;
    justify-content: center;
}

.success h1 {
    padding-top: 20vh;
}

/* кнопка на главную */

.buttonback {
    justify-content: center;
    margin: 10vh;
}

.input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #00A0C9;
    outline: none;
    width: 40vw;
}

.submitbuttonblock {
    margin-bottom: 7vh;
}

.submitbutton {
    margin-top: 5vh;
    padding: 1vh;
    width: 40vw;
    background-color: #00A0C9;
    border: 0.3vh solid #00A0C9;
    color: white;
    border-radius: 3vh;
}

/* эффекты при наведении на кнопку */

.submitbuttonblock button:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: #00A0C9;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #00A0C9;
    
}

.submitbuttonblock button:not(:hover) {
    transition: 0.5s;
}

/* сообщение для пользователя */

.message {
    border: unset;
    border-bottom: 2px solid #c90000;
    outline: none;
    padding: 10px;
    font-weight: bold;
}

/* вход */

.enter {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 3vh;
}

.enter input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #00A0C9;
    outline: none;
}

.enterbutton {
    margin-top: 3vh;
    background-color: #00A0C9;
    padding: 1vh;
    border: none;
    color: white;
    border-radius: 3vh;
}

.enter label {
    margin-top: 3vh;
}

.enter a {
    text-decoration: none;
    color: #00A0C9;
    font-weight: bold;
}

/* кнопка выхода */

.logout a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7vh;
    color: #c90000;
}

/* профиль пользователя */

.profile, .application{
    padding-top: 13vh;
    align-items: center;
    justify-content: center;
}

.profile {
    display: flex;
    width: 100%;
}

.user a{
    text-decoration: none;
}

.application {
    margin-left: 15vw;
    margin-bottom: 5vh;

}
.application input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #00A0C9;
    outline: none;
    width: 40vw;
}
.checkboxinput, .radio {
    margin-bottom: 3vh;
    padding: 5px;
    margin-left: 15vw;
    margin-bottom: 5vh;
}

.applicationheading {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.labelnumber {
    color: #00A0C9;
    font-size: 2.5vh;
}

.application fieldset {
    margin-bottom: 5vh;
}

.user {
    width: 100vw;
    margin-left: 15vw;
}

.user {
    padding-top: 3vh;
}

/* админ панель */

.panel {
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.panel h2 {
    margin-top: 7vh;
    padding-bottom: 3vh;
}

.panel input{
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #00A0C9;
    outline: none;
    width: 50%;
}

.panel textarea{
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #00A0C9;
    outline: none;
    width: 50%;
    height: 20vh;
    resize: vertical;
}
.selectcategory {
    font-size: 2vh;
    padding: 5px 10px 10px 5px;
    border: 1px solid #00A0C9;
}

button {
    cursor: pointer;
}

/* кнопка добавить запись */

.add  button{
    margin-bottom: 3vh;
    padding: 1vh;
    width: 40vh;
    background-color: #00A0C9;
    border: 0.3vh solid #00A0C9;
    color: white;
    border-radius: 3vh;
}

.hidebutton button{
    margin-bottom: 3vh;
    padding: 1vh;
    width: 30vh;
    background-color: #ddd;
    border-radius: 3vh;
}

/* эффекты при наведении на кнопку */


.add button:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: #00A0C9;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 5px 5px #00A0C9;
    
}

.add button:not(:hover) {
    transition: 0.5s;
    border: none;

}

/* таблица список пользователей */

.clientlist table {
	width: 70%;
	border: none;
	margin-bottom: 20px;
}
@media (max-width: 630px) {
    .clientlist table, .clientlist h2, .panel h2 {
        font-size: 2vh;
    }
    .user h1 {
        font-size: 3vh;
    }
}
@media (max-width: 480px) {
    .clientlist table {
        font-size: 1.3vh;
    }
}
@media (max-width: 450px) {
    .clientlist table {
        font-size: 0.8vh;
    }
}
.clientlist table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #00A0C9;
    color: white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.clientlist table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	vertical-align: top;
}

.clientlist table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}

.clientlist table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}

.clientlist table tbody tr:nth-child(even){
	background: #f3f3f3;
}

/* история услуг в личном кабинете */

.userservices {
    margin-left: 15vw;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.userservices p {
    padding-top: 3vh;
    color: #a9a9a9;
}

/* записи в блоге */
.new {
    width: 100%;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.25);
    padding: 50px;
    border-radius: 30px;
    margin-top: 5vh;
    margin-bottom: 4vh;
    background-color: white;
}
.news {
    background: url(../media/background3.png) center center;
    width: 100%;
    overflow: hidden;
}
@media (max-width:660px) {
    .new h2{
        font-size: 2.2vh;
    }
    .new p{
        font-size: 1.9vh;
    }
}
@media (max-width:450px) {
    .new h2{
        font-size: 2vh;
    }
    .new p {
        font-size: 1.9vh;
    }
}
.newslist h1{
    text-align: center;
    padding: 3vh;
}

.newslist {
    padding-top: 15vh;
    margin-inline: 10vw;
    margin-bottom: 7vh;
    line-height: 3.5vh;
}

/* услуги  */
.servicesbody {
    background-color: #000;
    color: white;
}

.products h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    font-size: 5vh;
}

  .servicesbody h2 {
    color: white;
    text-align: center;
    padding: 5vh;
    text-decoration: underline;
  text-decoration-color: #00A0C9;
  text-underline-offset: 2vh;
  }
  .catalog-items {
    width: 90%;
    margin: 20px auto;
    font-size: 0;
  }
  .catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 500;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #000;
    outline:3px solid white;
    outline-offset:-4px;
    color: white;
    margin-bottom: 5vh;
  }

  .catalog-item:nth-child(3n) {
    margin-right: 0;
  }
  .catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    width: 300px;
    height: 200px;
    padding: 65px 0;
    border: 5px solid #00A0C9;
    background-color: #00A0C9;
  }
  .actions .buy,
  .actions .bookmark {
    font-size: 18px;
    display: block;
    width: 200px;
    margin: 0 auto 7px;
    padding: 10px 0;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    background-color: white;
  }
  .actions .buy {
    box-shadow: inset 0 -3px 0 #00A0C9;
  }
  .catalog-item .actions {
    display: none;
  }
  .catalog-item:hover .actions {
    display: block;
  }
  .catalog-item .title {
    font-size: 18px;
    margin-top: 10px;
    
    margin-bottom: 10px;

  }

  .headingservice h1 {
    padding-top: 15vh;
    color: white;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .headingproducts {
    color: white;
}

.catalog-item .price {
    background-color: #00A0C9;
    border-radius: 30px;
}

/* подвал */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
.footer-top-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-top-container .left-side ul {
    display: flex;
}
.footer-top-container .left-side ul li {
    margin: 10px 1rem;
    display: flex;
    align-items: center;
}

.footer-top-container .left-side ul li a {
    color: white;
    text-decoration: none;
}
.right-side {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.right-side ul li a {
    color: white;
}

.footerlogo {
    width: 150px;
    padding-bottom: 10px;
}
.sitelogo {
    width: 40px;
}

footer {
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 3rem;
    padding: 3% 3%;
}

footer p {
    color: white;
}

.right-side .footerbutton {
    display: inline-block;
    width: 20rem;
    height: 4rem;
    background-color: #00A0C9;
    border-radius: 3rem;
    font-size: 2vh;
    color: white;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

footer .line {
    margin-top: 3.5rem;
    width: 100%;
    height: 0.1rem;
    background: #00A0C9;
}

.footer-bottom-container{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-container .social-media-icons img{
    margin: 0rem 1rem;
    cursor: pointer;
}
/* адаптив подвала  */
@media (max-width: 1566px) {
    .footer-top-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
}
@media (max-width: 1000px) {
.footer-top-container .left-side ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}
}
@media (max-width: 900px) {
    .footer-top-container .right-side{
        display: flex;
        flex-direction: column;
        
    }
    .footer-top-container .right-side ul li p {
        text-align: center;
    }
}

/* график работы  */

.grafik-test{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grafik-test div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background: #fff;
    border-radius: 5px;
    margin: 10px !important;
    box-shadow: 0px 0px 10px #bebebe;
    padding: 20px 0px 20px 0px;
}

.grafik-test div.today{
	background: #00A0C9;
    color: #fff;
}

/* личный кабинет */

.cabinet a {

    padding-top: 10vh;
    color: #00A0C9;
    text-decoration: underline;
    text-decoration-color: #00A0C9;
    text-underline-offset: 1vh;
    font-size: 3vh;
}

.cabinet {
    margin-left: 15vw;
    width: 50%;
    display: flex;
}

/* заявка на услуги */

.applications {
    margin-top: 5vh;
    margin-left: 15vw;
    width: 70%;
    margin-bottom: 7vh;
}

.application_card {
    margin-top: 5vh;
    background-color: #00A0C9;
    color: white;
    border-radius: 30px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vh;
    align-items: center;
    justify-content: center;
}

/* нижняя кнопка рассчитать стоимость услуг  */

#floating-button {
    position: fixed;
    z-index: 90;
    bottom: 20px;
    right: 20px;
    background-color: #00A0C9;
    color: white;
    border: 1px solid#00A0C9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
  }
   
  #floating-button:hover {
    background-color: white;
    border: 1px solid #00A0C9;
    transition: 0.5s;
    color: #00A0C9;
    cursor: pointer;
	box-shadow: 0 0 16px #00A0C9;

  }
  #floating-button:not(:hover) {
    transition: 0.5s;
  }
 footer li {
    list-style-type: none;
 }
 footer {
    position: relative;
  z-index: 95;
 }

 /* калькулятор  */

.servicecalculator {
    display: flex;
    padding-bottom: 2vh;
    
}

.servicecalculator input{
    margin-right: 3vw;
    height: 7vh;
    width: 25px;

}

.calculator h1 {
    padding-top: 17vh;
    padding-bottom: 5vh;
}

.servicecalculator {
    align-items: center;
    padding-left: 3%;

}

.calculator .price {
    margin-right: 5vh;
}

.calculator h2 {
    display: flex;
    justify-content: center;
    margin: 5vh;
}
/* итог */
.total {
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.calculator-results {
    margin-top: 5vh;
}

.headingcategories {
    padding-top: 5vh;
}

.services {
    padding: 3vh;
    margin-inline: 12vw;
    border: 3px solid white;
    border-radius: 30px;

}

.calculator-results h2 {
    text-decoration: none;
    color: #00A0C9;
}

/* обновление записей */

.update {
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.update table {
    margin-inline: 3vw;
}
@media (max-width:590px) {
    .update table {
        font-size: 1vh;
    }
}

.update table a {
    color: #00A0C9;
    text-decoration: none;
}

.update table a::after{
    color: #00A0C9;
}
.update h1 {
    text-align: center;
    padding-bottom: 5vh;
}
.update table td {
    padding-bottom: 3vh;
}

.userapplication {
    padding-top: 5vh;
    margin-right: 12vw;
    padding-bottom: 5vh;
}

/* адаптивная шапка */

.burger_menu {
    display: flex;
    justify-content: space-between;
}

.burger_menu img {
    display: none;
    width: 30vh;
}

@media (min-width:1235px) {
    header form {
        margin-left: 8vw;
    }
}
@media (max-width: 1295px) {
    .wrapper_container {
        max-width: unset;
        width: 100%;
        margin: 0 20px;
    }

    .burger_button {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 6H21M3 12H21M3 18H21" stroke="%2300A0C9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .burger_menu {
        position: absolute;
        top: 0;
        left: -80vw;
        width: 80vw;
        overflow-y: auto;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 3;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        transition: .4s ease;
    }

    .burger_menu.active {
        left: 0;
        transition: .4s ease;
    }

    .burger_menu a {
        font-size: 24px;
    }

    header .burger_menu.active ul {
        align-items: start;
    }

    header img {
        display: none;
    }

    .burger_menu img {
        display: block;
    }
    .burger_menu form button {
        height: 15%;
        font-size: 1.7vh;
    }
    .mobile_menu_overley {
        display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .2s ease;
    }

    .mobile_menu_overley.active {
        display: block;
        transition: .2s ease;
    }

    header ul {
        flex-direction: column;
        row-gap: 30px;
    }


    #right {
        margin-left: 0;
    }

}

/* адаптив главной страницы */

@media (max-width:1170px) {
    .reasons {
        flex-direction: column;
        display: flex;
        align-items: center;
    } 
}
@media (max-width: 730px) {
    .heading, .advantagies h1 {
        align-items: center;
        text-align: center;
        font-size: 5vh;
    }
}
@media (max-width: 600px) {
    .advantagies h1 {
        font-size: 4vh;
    }
    .benefitsheading h1{
        font-size: 4vh;
    }
}
@media (max-width: 500px) {
    .advantagies h1 {
        font-size: 3vh;
    }
}

/* обновление записей */

.editnews {
    padding-left: 15vw;
}
.editnews textarea{
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #00A0C9;
    outline: none;
    width: 50%;
    height: 20vh;
    resize: vertical;
}
.editnews input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #00A0C9;
    outline: none;
    width: 50%;
}